html body {
    background-image: url('../img/bg.png');
    text-align: center;
}

.frame {
    min-width: 100px;
    min-height: 100px;

    display: block;

    padding: 10%;

    background-color: rgba(50, 50, 50, .1);
    border: 1px dashed #AAA;
    border-radius: 3px;
}

.frameContainer {
    position: relative;
    margin: 0px auto;
    width: 65%;
}

.errorMessage {
    color: red;
}

.dropMessage {
    font-family: sans;
}
