html body {
    background-color: rgba(50, 50, 50, .1);
    margin: 0px;
}

td {
    vertical-align: top;
}

table {
    width: 100%;
}

#presentation {
    width: 100%;
}

#editor {
    opacity: 0;
    width: 100%;
    display: none;
    text-align: left;
}

#editorTree, #editorText {
    width: 90%;
    display: block;
    background-color: rgba(255, 255, 255, .99);
    padding: 10px ;
    list-style: none;

    border: 1px dashed #AAA;
    border-radius: 3px;
}

div#title {
    margin: 0px;
    padding: 0.5ex;

    text-align: left;
    font-weight: bold;
    font-size: 200%;
    color: #555555;
    font-family: Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;

    background-color: white;
    border-bottom: 1px dashed #AAA;
}

.frameContainer {
    position: relative;
    text-align: center;
}

.errorMessage {
    color: red;
}

.dropMessage {
    margin-top: 10%;
    font-family: sans;
    font-weight: bold;
    color: #444444;
}


a {
    color: #000;
}

/* Source code style */
.code {
    font-family: Courier, "Courier New", monospace;
    white-space: pre;
}
.cn, .fn, .scn {
    font-weight: bold;
    color: #7F0000;
}

.val {
    font-style: italic;
}

.cf, .ff, .mf {
    color: #007F00;
}

.ck, .ek {
    color: blue;
    font-weight: bold;
}

.mt, .ft, .pt {
    font-weight: bold;
    color: #00007F;
}

.cp, .op, .obk, .cbk, .ae {
    font-weight: bold;
}

.opcode {
    color: navy;
}

.comment_start, .comment {
    font-style: italic;
    color: grey;
}
